body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Helvetica', sans-serif;
}

.container {
    max-width: 930px;
    margin: auto;
}

.kobe-header{
    width: 100px;
    margin: 30px;
}
.section {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
}
.welcome-kh {
    display: flex;
    align-items: center;
}

.kobe-principal {
    width: 150px;
}

.business {
    display: flex;
    flex-direction: column;
}

.title-business {
    font-size: 28px;
}

.w-kobe {
    font-weight: 600;
    margin-top: -8px;
}

.self-business {
    margin-top: -7px;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.section-2 {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.cards img {
    width: 240px;
}

footer {
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ft-logo {
    width: 40px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.reserved {
    text-align: center;
    margin-top: 15px;
    font-weight: normal;
}

@media (max-width: 420px) {
    section {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
    }

    .business {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .business h1{
      font-size: 22px;
      text-align: center;
      padding: 30px;
    }

    .business h3 {
        text-align: center;
        max-width: 190px;
    }

    .business p {
        max-width: 250px;
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: -40px;
        row-gap: 30px;

    }
}